.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; /* Alteração para column para empilhar os elementos */
	height: 100vh;
	background-color: #f8f9fa;
}

.login-form-container {
	background-color: rgba(120, 150, 193, 0.8);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
	width: 300px;
	margin-bottom: 20px; /* Adiciona espaço abaixo do formulário */
}

.title {
	font-weight: 400;
	font-size: 50px;
	text-align: center;
}

.bottom-links {
	display: flex;
	flex-direction: row; /* Coloca os elementos ao lado */
	width: 300px;
}

.link {
	color: #165cad; /* Cor do texto */
	text-decoration: none; /* Remove a sublinhado padrão */
	font-weight: bold;
}

.link:hover {
	color: #93bceb; /* Cor do texto ao passar o mouse sobre o link */
}
