.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Cor de fundo da página */
}

.login-form-container {
  background-color: rgba(120, 150, 193, 0.8); /* Cor do fundo do formulário */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
  width: 300px;
 
}
.title{
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  
}

/* Adicione mais estilos conforme necessário */
